body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Interfont;
    src: url(./font/Inter-VariableFont_slnt\,wght.ttf);
}

header {

    height: 6vh;
    background-color: #3C3C3C;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header .login {
    width: 10%;
    height: 80%;
    border-radius: 7px;
    background-color: #3E43E8;
    color: white;
    font-family: Interfont;
    font-weight: 600;
    cursor: pointer;
    font-size: 15;
    border: none;
    margin-right: 60px;
    position: relative;
}

header .login a {
    text-decoration: none;
    color: white;
    font-family: Interfont;
    font-weight: 600;
    cursor: pointer;
    font-size: 15;
}

header .login::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3E43E8;
    border-radius: 7px;
    z-index: -1;
    transition: all 0.6s;
}

header .login:hover::after {
    transform: scaleX(1.2) scaleY(1.2);
    opacity: 0;
    z-index: 2;
}

header nav {
    width: 30%;
}

header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Interfont;
    font-weight: 600;
    cursor: pointer;
    font-size: 15;
    color: white;
}

header nav ul a {
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    font-size: 15;
    color: white;
}

header nav ul li {
    transition: all 0.5s;
}

header nav ul li:hover {
    transform: scale(1.1);
}