{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "styles/main.css" %}">
    <link rel="stylesheet" href="{% static "styles/analyze.css" %}">
    <link rel="stylesheet" href="{% static "header/header.css" %}">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/llms/models/">Models</a></li>
                <li><a href="/vulnerabilities/">Vulnerabilities</a></li>
                <li><a href="/llms/scoreboard/">ScoreBoard</a></li>
            </ul>
        </nav>
        <button class="login" id="login"><a>Login</a></button>
        <script>
            document.getElementById("login").addEventListener("click", () => {
                window.location.href = "./login.html";
            });
        </script>
    </header>


    <main class="Analyze">
        <div class="Wrapper">
            <h1 class="CodeGeneration">Code Generation</h1>

            <form class="Code" method="post" action="/dispatcher/createprompt/">
                <textarea rows="10" class="TypeYourPrompt" placeholder="Type Your Prompt ..." name="code"> </textarea>
                {% csrf_token %}


                <div class="Options">
                </div>

                <button class="Button Analyze">Analyze</button>
            </form>

            <div class="OrGenerateCodeInstead">
                <span>or </span>
                <a href="/dispatcher/createprompt/">Generate Code</a>
                <span> instead.</span>
            </div>
        </div>
    </main>
</body>

</html>