:root {
    --background: #292D32;
    --background-light: #3c3c3c;
    --text-color: #fff;
    --text-dimmed: #d0d0d0;
    --primary: #3e43e8;
    --font: 'Poppins', sans-serif;
    --text-size: 14px;
    --radius: 8px;
    --a-color: #0984e3;
}

html,
body {
    padding: 0;
    margin: 0;
    background: var(--background);
    color: var(--text-color);
}

* {
    box-sizing: border-box;
    font-family: var(--font);
}

h1 {
    font-size: 24px;
}

.Navbar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 74px;
    background-color: var(--background-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px;
    z-index: 2;
}

.Navbar .Links,
.Navbar .Actions {
    display: flex;
    align-items: center;
}

.Navbar .Links {
    width: 100%;
    gap: 18px;
    font-size: var(--text-size);
}

.Navbar .Actions .Button {
    width: 152px;
    height: 36px;
    background-color: var(--primary);
    border: none;
    color: var(--text-color);
    border-radius: var(--radius);
    cursor: pointer;
}

body>main {
    max-width: 709px;
    margin: 0 auto;
}

body>main>.Wrapper {
    width: 100%;
}

body>main a {
    color: var(--a-color);
}