html,
body {
    padding: 0;
    margin: 0;
}

/* header {

    height: 6vh;
    background-color: #3C3C3C;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header .login {
    width: 10%;
    height: 80%;
    border-radius: 7px;
    background-color: #3E43E8;
    color: white;
    font-family: Interfont;
    font-weight: 600;
    cursor: pointer;
    font-size: 15;
    border: none;
    margin-right: 60px;
    position: relative;
}

header .login a {
    text-decoration: none;
    color: white;
    font-family: Interfont;
    font-weight: 600;
    cursor: pointer;
    font-size: 15;
}

header .login::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3E43E8;
    border-radius: 7px;
    z-index: -1;
    transition: all 0.6s;
}

header .login:hover::after {
    transform: scaleX(1.2) scaleY(1.2);
    opacity: 0;
    z-index: 2;
}

header nav {
    width: 30%;
}

header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Interfont;
    font-weight: 600;
    cursor: pointer;
    font-size: 15;
    color: white;
}

header nav ul a {
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    font-size: 15;
    color: white;
}

header nav ul li {
    transition: all 0.5s;
}

header nav ul li:hover {
    transform: scale(1.1);
} */



body>main.Prompt {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 84px);
}

main.Prompt h1 {
    text-align: center;
    margin-bottom: 36px;
    margin-top: 0;
}

main.Prompt .Prompt {
    max-width: 709px;
    width: 100%;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    gap: 22px;
}

main.Prompt .TypeYourPrompt {
    padding: 20px 26px;
    width: 100%;
    border-radius: 24px;
    border: 1px solid var(--text-dimmed);
    background: none;
    color: var(--text-color);
    height: 60px;
}


main.Prompt .TypeYourPrompt::placeholder {
    color: var(--text-dimmed);
}

main.Prompt .TypeYourPrompt:focus {
    outline: none;
}

main.Prompt .Prompt .Button {
    max-width: 152px;
    width: 100%;
    height: 57px;
    border: none;
    color: var(--text-color);
    border-radius: var(--radius);
    cursor: pointer;
    border-radius: 24px;
    background: var(--primary);
}

main.Prompt .OrAnalyzeYourOwnCodeInstead {
    text-align: center;
    margin-top: 36px;
}
.Generate{
    position: relative;
}

.Generate::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3E43E8;
    border-radius: 24px;
    z-index: -1;
    transition: all 0.6s;
}

.Generate:hover::after {
    transform: scaleX(1.2) scaleY(1.2);
    opacity: 0;
    z-index: 2;
}
