body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Interfont;
    src: url(./font/Inter-VariableFont_slnt\,wght.ttf);
}

header {

    height: 5vh;
    background-color: #3C3C3C;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header .login {
    width: 10%;
    height: 80%;
    border-radius: 7px;
    background-color: #3E43E8;
    color: white;
    font-family: Interfont;
    font-weight: 600;
    cursor: pointer;
    font-size: 15;
    border: none;
    margin-right: 60px;
    position: relative;
}

header .login a {
    text-decoration: none;
    color: white;
    font-family: Interfont;
    font-weight: 600;
    cursor: pointer;
    font-size: 15;
}

header .login::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3E43E8;
    border-radius: 7px;
    z-index: -1;
    transition: all 0.6s;
}

header .login:hover::after {
    transform: scaleX(1.2) scaleY(1.2);
    opacity: 0;
    z-index: 2;
}

header nav {
    width: 30%;
}

header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Interfont;
    font-weight: 600;
    cursor: pointer;
    font-size: 15;
    color: white;
}

header nav ul a {
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    font-size: 15;
    color: white;
}

header nav ul li {
    transition: all 0.5s;
}

header nav ul li:hover {
    transform: scale(1.1);
}


.content {
    width: 100%;
    height: 94vh;
    background: #292D32;
    /* background-light: #3c3c3c; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.content h4 {
    font-family: Interfont;
    cursor: default;
    font-size: 27px;
    color: white;
}

.content .container {
    width: 70%;
    height: 70%;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.content .container .left {
    width: 15%;
    height: 80%;
    text-align: left;
}

.content .container .left a {
    font-family: Interfont;
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 700;
    text-decoration: none;
}

.content .container .right {
    width: 84%;
    height: 80%;
}

.content .container .right a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 20px;
    margin-top: 13px;
}

.content .container .right a div {
    height: 100%;
}

.content .container .right a .num1 {
    width: 100%;
    background-color: #4E9A06;
}

.content .container .right a .num2 {
    width: 90%;
    background-color: #4E9A06;
}

.content .container .right a .num3 {
    width: 80%;
    background-color: #4E9A06;
}

.content .container .right a .num4 {
    width: 70%;
    background-color: #979A06;
}

.content .container .right a .num5 {
    width: 60%;
    background-color: #979A06;
}

.content .container .right a .num6 {
    width: 50%;
    background-color: #979A06;
}

.content .container .right a .num7 {
    width: 40%;
    background-color: #9A4406;
}

.content p {
    font-family: Interfont;
    cursor: pointer;
    font-size: 16px;
    color: white;
}

.content>p a {
    color: #3E43E8;
}

/* 
table {
    display: flex;
    align-content: center;
    margin-bottom: 100px;
    color: white;
    border: solid white;
    width: 80%;
    max-width: 210px;
} */

@media screen and (max-width: 1200px) {
    header nav {
        width: 50%;
    }

    .content .container .left a {
        font-size: 14px;
        font-weight: 600;
    }

    .content .container .left {
        width: 25%;
    }

    .content .container .right {
        width: 72%;
    }
}

@media screen and (max-width: 660px) {
    header nav {
        width: 70%;
    }

    header nav a {
        font-size: 14px;
        font-weight: 100;
    }

    .content .container .left a {
        font-size: 10px;
        font-weight: 600;
    }

    .content .container {
        width: 90%;
    }
}