:root {
  --background: #292D32;
  --background-light: #3c3c3c;
  --text-color: #fff;
  --text-dimmed: #d0d0d0;
  --primary: #3e43e8;
  --font: "Poppins", sans-serif;
  --text-size: 14px;
  --radius: 8px;
  --a-color: #0984e3;
}

@font-face {
  font-family: Interfont;
  src: url(./font/Inter-VariableFont_slnt\,wght.ttf);
}

@keyframes buttonAnimation {
  0% {
    box-shadow: 0 0 10px rgba(62, 67, 232, 0.7);
    transform: scale(1);
  }

  50% {
    box-shadow: 0 0 20px rgba(62, 67, 232, 0.9);
    transform: scale(1.1);
  }

  100% {
    box-shadow: 0 0 10px rgba(62, 67, 232, 0.7);
    transform: scale(1);
  }
}

html,
body {
  padding: 0;
  margin: 0;
  background: var(--background);
  color: var(--text-color);
}

* {
  box-sizing: border-box;
  font-family: var(--font);
}

header {

  height: 6vh;
  background-color: #3C3C3C;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

header .login {
  width: 10%;
  height: 80%;
  border-radius: 7px;
  background-color: #3E43E8;
  color: white;
  font-family: Interfont;
  font-weight: 600;
  cursor: pointer;
  font-size: 15;
  border: none;
  margin-right: 60px;
  position: relative;
}

header .login a {
  text-decoration: none;
  color: white;
  font-family: Interfont;
  font-weight: 600;
  cursor: pointer;
  font-size: 15;
}

header .login::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3E43E8;
  border-radius: 7px;
  z-index: -1;
  transition: all 0.6s;
}

header .login:hover::after {
  transform: scaleX(1.2) scaleY(1.2);
  opacity: 0;
  z-index: 2;
}

header nav {
  width: 30%;
}

header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: Interfont;
  font-weight: 600;
  cursor: pointer;
  font-size: 15;
  color: white;
}

header nav ul a {
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  font-size: 15;
  color: white;
}

header nav ul li {
  transition: all 0.5s;
}

header nav ul li:hover {
  transform: scale(1.1);
}



h1 {
  font-size: 24px;
}

/* .Navbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 74px;
  background-color: var(--background-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 38px;
  z-index: 2;
}

.Navbar .Links,
.Navbar .Actions {
  display: flex;
  align-items: center;
}

.Navbar .Links {
  width: 100%;
  gap: 18px;
  font-size: var(--text-size);
} */

body>main {
  max-width: 709px;
  margin: 0 auto;
}

body>main>.Wrapper {
  width: 100%;
}

body>main a {
  color: var(--a-color);
}

.farm {

  max-width: 530px;
  height: auto;

  margin: auto;
  margin-top: 113px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.farm .log {
  width: 85px;
  height: 29px;
  margin-top: 4px;
  font-size: 24px;
  font-weight: 400;
  font-family: "Inter";
}

.farm .input-loc {
  margin-top: 70px;
  height: auto;
  min-width: 100%;
}

.farm .input-loc input {
  background: none;
  border-radius: 11px;
  padding-left: 14px;
  font-size: 20px;
  color: rgba(208, 208, 208, 0.39);
  margin-top: 1px;
  height: 44px;
  width: 100%;
  line-height: 24.2px;
  margin-bottom: 8px;
}

.farm .input-loc .input-name {
  height: 44px;
  width: 100%;
  line-height: 24.2px;
  display: flex;
  justify-content: left;
  margin-bottom: 8px;
}

.farm .input-loc .input-name .first-name {

  height: 44px;
  width: 43%;
  line-height: 24.2px;
}

.farm .input-loc .input-name .last-name {

  height: 44px;
  width: 57%;
  line-height: 24.2px;
  margin-left: 5px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.farm form button {
  margin-top: 30px;
  width: 117px;
  min-width: 80px;
  height: 64px;
  border-radius: 24px;
  outline: none;
  border: none;
  background-color: rgba(62, 67, 232, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-weight: 400;
}

.farm form button:hover {
  animation: buttonAnimation 1s infinite;
}

.farm .Sign {
  margin-top: 13px;
  color: #3E43E8;
  font-size: 16px;
}

/* مدیا کوئری برای صفحات با عرض کمتر از 400 پیکسل */
@media screen and (max-width: 400px) {
  .farm form button {
    margin-top: 30px;
    width: 80px;

    height: 44px;
    border-radius: 24px;
    outline: none;
    border: none;
    background-color: rgba(62, 67, 232, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 400;
  }

  .farm .input-loc {
    margin-top: 70px;
    height: 94px;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .farm .input-loc input {
    background: none;
    border-radius: 11px;
    padding-left: 14px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.56);
    margin-top: 1px;
    height: 44px;
    width: 95%;
    line-height: 24.2px;
  }

  .farm .Sign {
    margin-top: 13px;
    color: rgba(9, 132, 227, 1);
    font-size: 14px;
  }
}

@media screen and (max-width: 550px) {
  .farm form button {
    margin-top: 30px;
    width: 80px;

    height: 44px;
    border-radius: 24px;
    outline: none;
    border: none;
    background-color: rgba(62, 67, 232, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 400;
  }

  .farm .input-loc {
    margin-top: 70px;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .farm .input-loc input {
    background: none;
    border-radius: 11px;
    padding-left: 14px;
    font-size: 14px;
    color: rgba(208, 208, 208, 0.39);
    margin-top: 1px;
    height: 44px;
    width: 100%;
    line-height: 24.2px;
  }

  .farm .Sign {
    margin-top: 13px;
    color: rgba(9, 132, 227, 1);
    font-size: 14px;
  }
}