{% load static %} {% include "base.html" %} {% include "navbar.html" %} 

{% block head %}
<style>
.container {
  flex-direction: column;
}

.no-align {
  align-items: flex-start;
}
</style>
{% endblock head%}


{% block content %}
<!-- NAVIGATION MENU -->
<section class="headings" style="margin-bottom: 40px">
  <h1>{{ summary.model_type }}</h1>
</section>

<div class="row">
  <div class="container">{% autoescape off %} {{summary.description}} {% endautoescape %}</div>
</div>
<div class="row">
  <div class="container" style="margin-top: 40px;">
    <canvas id="CWEChart" style="width:100%; max-width:600px"></canvas>
  </div>
</div>
<div class="divider"></div>

<section class="headings" style="margin-bottom: 40px">
  <h1>Supported Models: </h1>
</section>

<div class="row">
  <div class="container no-align">
    <ul>
      {% for model in llms %}
      <li>{{ model.name }}</li>
      {% endfor %}
    </ul>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script defer>
    const received_data = {{ results_count_by_day|safe }};
    const xValues = received_data.map(rdc => rdc.date);
    const yValues = received_data.map(rdc => rdc.count);
    const barColors = received_data.map(rdc => "green");

    new Chart("CWEChart", {
      type: "bar",
      data: {
        labels: xValues,
        datasets: [{
          backgroundColor: barColors,
          data: yValues
        }]
      },
      options: {
        plugins: {
          legend: {
            display: false
          }
        },
        scales: {
          x: {
            display: true,
            title: {
              display: false,
              text: 'World Wine Production 2018'
            },
            ticks: {
              autoSkip: false,
              maxRotation: 90,
              minRotation: 90
            }
          },
          y: {
            display: false
          }
        }
      }
    });
  </script>
{% endblock content%}
