{% load static %}
{% load static %} {% include "base.html" %} {% include "navbar.html" %} 

{% block head %}
<link rel="stylesheet" href="{% static "styles/main.css" %}"> <link rel="stylesheet" href="{% static "styles/prompt.css" %}">
<link rel="stylesheet" href="{% static "header/header.css" %}">
{% endblock head%}


{% block content %}
<main class="Prompt">
  <div class="Wrapper">
    <h1 class="CodeGeneration">Code Generation</h1>

    <form class="Prompt" action="/dispatcher/createprompt/" method="post">
      <!-- <input class="TypeYourPrompt" placeholder="Type Your Prompt ..." /> -->
      <textarea class="TypeYourPrompt" placeholder="Type Your Prompt ..." name="prompt" cols="30" rows="10"></textarea>
      {% csrf_token %}

      <button class="Button Generate" name="noanalyze" value="true">Generate</button>
      <button class="Button Generate" style="max-width: unset; grid-column: 1/3;">Generate &amp; Analyze</button>
    </form>

    <div class="OrAnalyzeYourOwnCodeInstead">
      <span>or </span>
      <a href="./analyze.html">Analyze your own code</a>
      <span> instead.</span>
    </div>
  </div>
</main>
{%endblock content%}
