{% load static %} {% include "base.html" %} {% include "navbar.html" %} {% block head %}
 <link rel="stylesheet" href="{% static "styles/score.css" %}"> 
{% endblock head %} {% block content %}
<div class="content">
  <h4>Score Board</h4>
  <div class="container">
    <div class="left">
      {% for aic in aics%}
      <p><a href="#">{{ aic.model.name }}</a></p>
      {% endfor %}
    </div>
    <div class="right">
      {% for aic in aics%}
      <a href="./Modelsummary.html">
        <div class="num1" style="width: {{ aic.score }}%;"></div>
      </a>
      {% endfor %}
    </div>
  </div>
  <table
    style="
      width: 40%;
      color: white;
      background-color: #2d3135;
      border: solid rgba(255, 255, 255, 0.838);
      border-radius: 20px;
      text-align: left;
      margin-bottom: 1%;
    "
  >
    <thead>
      <tr>
        <th style="padding-left: 30px">LLM</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      {% for aic in aics%}
      <tr>
        <td style="padding-left: 30px">{{ aic.model.name }}</td>
        <td style="width: 70px">{{ aic.score }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <p>Or <a href="./prompt.html"> Generate Code</a> instead.</p>
</div>
{% endblock content%}
